/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.settings div {
    display: flex;
    align-items: center;
}

.settings input {
    width: 5vw;
    margin: 10px;
}

.settings button {
    margin-top: 50px;
    background-color: #1b82d6;
    color:white;
}

.settings-title {
    margin-bottom: 25px;
    text-transform: uppercase;
}

.sample-list-title {
    text-transform: uppercase;
    margin-bottom: 50px;
}

.section-head {
    display: flex;
    justify-content: center;
}

.section-head div{
    margin: 0 50px;
}

.section-content {
    display: flex;
    justify-content: center;
}

.test-data {
    margin-right: 70px;
}

.test-details {
    margin-right: 35px;
}